<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fb.springbootdemo.repository.T1Repository">

	<sql id="baseColumns">
		id, name, age, version
	</sql>

	<sql id="condition">
		<where>
			<if test="e != null">
				<if test="e.id != null">
					and id = #{e.id}
				</if>
				<if test="e.name != null and e.name neq ''">
					and name = #{e.name}
				</if>
			</if>
		</where>
	</sql>
	<sql id="order">
		<if test="order != null">
			order by
			<if test="order.id != null">
				id
			</if>
			<if test="order.name != null">
				name
			</if>
		</if>
	</sql>

	<select id="find" resultType="t1">
		select * from t1 where id = #{id}
	</select>

	<select id="findPage" resultType="t1">
		select * from
		(select * from t1
		<include refid="condition"></include>
		<include refid="order"></include>
		) t
		limit
		#{pageInfo.startIndex}, #{pageInfo.endIndex}
	</select>
	
	<update id="update">
		update t1 set balance = #{balance}, version = #{version} + 1 where id = #{id} and version = #{version}
	</update>

</mapper>